li {
  list-style: none;
}

div.taskContainer {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid var(--b1);
  border-radius: 5px;
  margin-bottom: 2px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-shadow: 1px 0 5px #000;
  transition: 0.5s;
}

div.taskContainer:hover {
  background: var(--b3);
}

div.taskContainer > div {
  width: 5rem;
  display: flex;
  justify-content: space-between;
}

div.taskContainer > div i:first-child {
  width: 2rem;
  height: 2rem;
  border: 1px solid var(--b1);
  border-radius: 10px;
  transition: 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
}
div.taskContainer > div i:first-child:hover {
  transform: rotateZ(360deg) scale(1.2);
  border-color: var(--b6);
}
div.taskContainer > div i:last-child {
  width: 2rem;
  height: 2rem;
  border: 1px solid var(--b1);
  border-radius: 10px;
  transition: 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
}
div.taskContainer > div i:last-child:hover {
  transform: rotateZ(360deg) scale(1.2);
  border-color: var(--b6);
}
