* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

:root {
  --b1: #0c0c0c;
  --b2: #16213e;
  --b3: #da0037;
  --b4: #21111141;
  --b5: #04293a;
  --b6: #bdbdbd;
}

#root {
  color: #fff;
  text-shadow: 1px 0 5px #000;
  background-color: var(--b1);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  min-height: 10rem;
  width: calc(50vw + 10rem);
  max-width: 600px;
  padding: 0.5rem;
  border: 2px solid var(--b5);
  border-radius: 5px;
  background: var(--b2);
}

.container label > h1 {
  text-align: center;
  margin-bottom: 0.5rem;
}
